<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your account</title>
  </head>
  <body>
    <h3>Verify Account</h3>
    <p>Hi <b>{{name}}</b>, Thanks for registering with us</p>
    <p>Please confirm your email by clicking the link below
      <b><a href="{{link}}">Verify</a></b></p>
    <p>This link is valid for next 15 minutes</p>
  </body>
</html>