<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset request</title>
  </head>
  <body>
    <h3>Password reset request</h3>
    <p>Hi, <b>{{name}}</b></p>
    <p>
      It look like you need a little help with your password. We're on it!
    </p>
    <p>If this was you, Please reset your password by cliicking on
      <a href="{{link}}">Reset Password</a></p>
    <p>If you didn't reequest for this, simply ignore. Nothing will change in
      your account settings</p>
    <p>Be aware that this link is only valid for the next 15 minutes.</p>
  </body>
</html>